body {
    background-color: #FFCCFF;
    font-family: Roboto, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 960px;
    padding: 20px;  
    margin: 0 auto;
}
